#letter-head p{
	font-size: 20px;
	font-style: strong;
	text-align: center;
}

#letter-head.exe{
	height: 100% !important;
}

#letter-head{
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	border-bottom: 5px solid #111;
}